<!--
title: Episode Template
description: 
published: true
date: 2024-04-12T17:30:57.712Z
tags: 
editor: code
dateCreated: 2024-04-11T19:39:55.086Z
-->

<div>
  <img href=""/>
  <a href="">Listen on Soundcloud</a>
  <a href="">Listen on Spotify</a>
</div>

<h2>Daranos Tale</h2>

<h3>title</h3>

<p>
  story overview
</p>

<h3>Characters Introduced</h3>

<ul>
  <li><a href="/daranos/characters/"></a></li>
</ul>

<h3>Locations Introduced</h3>

<ul>
  <li><a href="/daranos/locations/"></a></li>
</ul>

<h3>Creatures Introduced</h3>

<ul>
  <li><a href="/daranos/creatures/"></a></li>
</ul>

<h3>Sports Introduced</h3>

<ul>
  <li><a href="/daranos/sports/"></a></li>
</ul>

<h3>Fine Arts Introduced</h3>

<ul>
  <li><a href="/daranos/finearts/"></a></li>
</ul>

<h3>Bands Introduced</h3>

<ul>
  <li><a href="/daranos/bands/"></a></li>
</ul>

<h3>Movies Introduced</h3>

<ul>
  <li><a href="/daranos/movies/"></a></li>
</ul>

<h2>Omniverse Tale</h2>

<h3>title</h3>

<p>
  story overview
</p>

<h3>Characters Introduced</h3>

<ul>
  <li><a href="/omniverse/characters/"></a></li>
</ul>

<h3>Locations Introduced</h3>

<ul>
  <li><a href="/omniverse/locations/"></a></li>
</ul>

<h3>Groups Introduced</h3>

<ul>
  <li><a href="/omniverse/groups/"></a></li>
</ul>

<h3>Creatures Introduced</h3>

<ul>
  <li><a href="/omniverse/creatures/"></a></li>
</ul>

<h3>Sports Introduced</h3>

<ul>
  <li><a href="/omniverse/sports/"></a></li>
</ul>

<h3>Fine Arts Introduced</h3>

<ul>
  <li><a href="/omniverse/finearts/"></a></li>
</ul>

<h3>Bands Introduced</h3>

<ul>
  <li><a href="/omniverse/bands/"></a></li>
</ul>

<h3>Movies Introduced</h3>

<ul>
  <li><a href="/omniverse/movies/"></a></li>
</ul>

<h2>Spookyvision Tale</h2>

<h3>title</h3>

<p>
  story overview
</p>

<h3>Characters Introduced</h3>

<ul>
  <li><a href="/spookyvision/characters/"></a></li>
</ul>

<h3>Locations Introduced</h3>

<ul>
  <li><a href="/spookyvision/locations/"></a></li>
</ul>

<h3>Groups Introduced</h3>

<ul>
  <li><a href="/spookyvision/groups/"></a></li>
</ul>

<h3>Creatures Introduced</h3>

<ul>
  <li><a href="/spookyvision/creatures/"></a></li>
</ul>

<h3>Sports Introduced</h3>

<ul>
  <li><a href="/spookyvision/sports/"></a></li>
</ul>

<h3>Fine Arts Introduced</h3>

<ul>
  <li><a href="/spookyvision/finearts/"></a></li>
</ul>

<h3>Bands Introduced</h3>

<ul>
  <li><a href="/spookyvision/bands/"></a></li>
</ul>

<h3>Movies Introduced</h3>

<ul>
  <li><a href="/spookyvision/movies/"></a></li>
</ul>
